<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msadev.cmms"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_permission"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Edit.e_Mesin"/>
        <activity android:name=".Tambah.i_Mesin"></activity>
        <activity android:name=".List.L_Site" />
        <activity android:name=".List.L_Reminder" />
        <activity android:name=".List.L_Komponen" />
        <activity android:name=".Detail.d_Komponen" />
        <activity android:name=".Trigger.MenuMesin" />
        <activity android:name=".Tambah.i_Komponen" />
        <activity android:name=".List.L_Timeline2" />
        <activity
            android:name=".List.L_Timeline"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Tambah.i_Checkout"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Tambah.i_Penyelesaian"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".List.L_Barang"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Detail.d_Progress"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Edit.e_Permasalahan"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".List.L_Progress"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Tambah.i_Progress"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".List.L_Mesin"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Trigger.convertPerbaikan"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Trigger.MenuPerbaikan"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Tambah.i_Permasalahan"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".List.L_Masalah"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Service.MyFirebaseMessagingServiceold">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>