<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msadev.cmms">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_permission"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit.e_Permasalahan"></activity>
        <activity android:name=".List.L_Progress" />
        <activity android:name=".Tambah.i_Progress" />
        <activity android:name=".List.L_Mesin" />
        <activity android:name=".Trigger.convertPerbaikan" />
        <activity android:name=".Trigger.MenuPerbaikan" />
        <activity android:name=".Tambah.i_Permasalahan" />
        <activity android:name=".MainActivity" />
        <activity android:name=".List.L_Masalah">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>